{
  "_comment": "Provide your AWS credentials, make sure to remove '_example' from file name before use!",
  "aws_endpoint_url": "https://eodata.cloudferro.com",
  "aws_access_key_id": "XXXYYYZZZXXXYYYZZZXX",
  "aws_secret_access_key": "QWERtyuiopASDGhjklZXCvbnm123456789-=[]\\;"
}
